*{
    margin:0;
}
.container{
    background-color:whitesmoke;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.display{
    background-color:gray;
    height:40px;
    width:400px;
    font-size:36px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.buttons{
    gap:10px;
    width:150px;
    display:flex;
    flex-wrap:wrap;
}